@model EditRoleViewModel

@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Edit Role";
}

<h3>Edit Role</h3>

<form method="post" class="mt-2">

    <div class="col-6 offset-3 justify-content-center ">

        <div class="form-group row m-2">
            <input type="hidden" asp-for="Id" />
            <label asp-for="Id" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Id" disabled class="form-control">
            </div>
        </div>
        <div class="form-group row m-2">
            <label asp-for="RoleName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="RoleName" class="form-control">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group row m-2">
                <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="ListRoles" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="card">
        <div class="card-header">
            <h5>Users in this role</h5>
        </div>
        <div class="card-body">
            @if (Model.Users != null && Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                   <ul>
                       <li>
                            <h6 class="card-title">@user</h6> 
                       </li>
                   </ul>
                }
            }
            else
            {
                <h6 class="card-title">None at the moment</h6>
            }
        </div>

        <div class="card-footer">
            <a asp-controller="Administration" asp-action="EditUsersInRole"
               asp-route-roleId="@Model.Id" class="btn btn-primary">
                Add or Remove Users From This Role
            </a>
        </div>
    </div>

</form>