@model RegisterViewModel

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Register User";
}


<br />
<br />
<h4 class="text-center"><img src="https://www.tatweerit.com/assets/images/logo.png" /></h4>

<br />
<br />
<div class="row">
    <div class="col-6 offset-3 justify-content-center">
        <form  asp-action="Register"  role="form">

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" class="form-control" aria-describedby="First Name" placeholder="Enter First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" class="form-control" aria-describedby="Last Name" placeholder="Enter Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" class="form-control" class="form-control" aria-describedby="Mobile" placeholder="Enter Mobile" type="number" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="form-label mt-4" for="InputEmail1">Email address</label>
                <input asp-for="Email" id="InputEmail1" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Company"  class="form-label mt-4"></label>
                <input asp-for="Company" class="form-control" type="text" class="form-control" placeholder="Company Name" autocomplete="off" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" for="InputPassword1" class="form-label mt-4"></label>
                <input asp-for="Password" class="form-control" id="InputPassword1" type="password" class="form-control" placeholder="Password" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" for="InputPassword1" class="form-label mt-4"></label>
                <input asp-for="ConfirmPassword" class="form-control" id="InputPassword1" type="password" class="form-control" placeholder="Password" autocomplete="off" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary  form-control mt-4" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
